apiVersion: apps/v1
kind: Deployment
metadata:
  name: soundoff-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: soundoff-worker
  template:
    metadata:
      labels:
        app: soundoff-worker
    spec:
      containers:
        - name: worker
          image: ghcr.io/glizzus/soundoff/soundoff-worker:83a16547345170b202275beef51dc00d85c63e5e
          envFrom:
            - configMapRef:
                name: soundoff-config
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: soundoff-redis-secret
                  key: REDIS_PASSWORD
            - name: DISCORD_TOKEN
              valueFrom:
                secretKeyRef:
                  name: soundoff-discord-secret
                  key: DISCORD_TOKEN
