# This file is an example of a Dev Container aws_credentials file.
# Create .devcontainer/aws_credentials in your project root and fill in the values.
# This will let you use Terraform in the project.
[default]
aws_access_key_id = YOUR_AWS_ACCESS_KEY_ID
aws_secret_access_key = YOUR_AWS_SECRET_ACCESS_KEY
